<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.com.codeka.steptastic">

    <uses-feature android:name="android.hardware.type.watch" />
    <uses-feature
        android:name="android.hardware.sensor.stepcounter"
        android:required="true" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/iclauncherweb"
        android:label="NUC Wearable"
        android:theme="@android:style/Theme.DeviceDefault">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StepsActivity"
            android:label="@string/app_name">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
            <intent-filter>
                <action android:name="vnd.google.fitness.VIEW" />

                <data android:mimeType="vnd.google.android.fitness.data_type/com.google.step_count.cumulative" />
                <data android:mimeType="vnd.google.android.fitness.data_type/com.google.step_count.delta" />
            </intent-filter>
        </activity>

        <service android:name=".StepSensorService" />
        <service
            android:name=".PhoneListenerService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".Pasos"
            android:label="@string/title_activity_pasos">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Datos"
            android:label="@string/title_activity_datos">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Sedentary"
            android:label="@string/title_activity_sedentary">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".LightlyActive"
            android:label="@string/title_activity_lightly_active">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ModeratelyActive"
            android:label="@string/title_activity_moderately_active">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".VeryActive"
            android:label="@string/title_activity_very_active">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ExtremelyActive"
            android:label="@string/title_activity_extremely_active">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".JuiceCelery"
            android:label="@string/title_activity_juice_celery" />
        <activity
            android:name=".JuiceTomato"
            android:label="@string/title_activity_juice_tomato">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".JuiceDreamyCarrot"
            android:label="@string/title_activity_main2_juice_dreamy_carrot">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".JuiceKale"
            android:label="@string/title_activity_juice_kale" />
        <activity
            android:name=".JuiceSpinach"
            android:label="@string/title_activity_juice_spinach" />
        <activity
            android:name=".JuiceMultivitamin"
            android:label="@string/title_activity_juice_multivitamin" />
        <activity
            android:name=".JuicePomegranate"
            android:label="@string/title_activity_juice_pomegranate" />
        <activity
            android:name=".JuiceBellPepper"
            android:label="@string/title_activity_juice_bell_pepper" />
        <activity
            android:name=".JuiceApple"
            android:label="@string/title_activity_juice_apple" />
        <activity
            android:name=".JuiceWheatgrass"
            android:label="@string/title_activity_juice_wheatgrass">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".JuiceCelebCelery"
            android:label="@string/title_activity_juice_celeb_celery" />
        <activity
            android:name=".JuicePear"
            android:label="@string/title_activity_juice_pear">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".JuiceBabySpinach"
            android:label="@string/title_activity_juice_baby_spinach">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".JuiceCarrot"
            android:label="@string/title_activity_juice_carrot">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".JuiceCabbage"
            android:label="@string/title_activity_juice_cabbage" />
        <activity
            android:name=".JuiceDetoxGreen"
            android:label="@string/title_activity_juice_detox_green" />
        <activity
            android:name=".JuiceTangyTomato"
            android:label="@string/title_activity_juice_tangy_tomato">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".JuiceCarrotAndCelery"
            android:label="@string/title_activity_juice_carrot_and_celery" />
        <activity
            android:name=".JuicePurpleCabbage"
            android:label="@string/title_activity_juice_purple_cabbage" />
        <activity
            android:name=".JuiceGrape"
            android:label="@string/title_activity_juice_grape" />
        <activity
            android:name=".JuiceOrange"
            android:label="@string/title_activity_juice_orange"></activity>
    </application>

</manifest>